@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
    //'both' clears float:left and right
  }
}
// clearfix adds a psuedo element :after main element which clears the float

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

//media query--mixins best way to create media queries

// 0- 600: phone-phone
// 600- 900: tablet portrait
// 900- 1200: tablet landscape
// 1200- 1800: our orientation
// >1800: big desktop

/// media queries for which to be optimized

//media query manager- one mixin manages all cases

// @mixin responsive-phone {
//   @media (max-width: 600px) {
//     @content;
//     //parameter- styles that are passed to the mixin
//   }
// }

// 1em=16px;
//imp: ems work best with media queries, so use only ems in media queries.
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      @content;
    }   
  }
  @if $breakpoint==tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint==big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

//min-width: dimensions above min-width, max-width: dimensions lesser than max-width
