@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
    //'both' clears float:left and right
  }
}
// clearfix adds a psuedo element :after main element which clears the float
