.row {
  //   width: 1140px; standard
  max-width: $grid-width;
  //if vw<grid-width, use 100% of vw
  margin: 0 auto;
  //centres block elements

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
  //selects everything except last child

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontol;
    }

    @include respond(tab-port) {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: $gutter-vertical-small;
    }
  }
  // attribute selector--> select all class that begin with col-
  // similar can be written with src, alt, etc
  //^- starts with;*- contains;$- ends with

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontol}) / 2);
    //calc vs sass function- calc can use any units to calc--> rem with %, fn takes equivalent units
    //# is required to use sass vars in calc
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontol}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100%- 2 * #{$gutter-horizontol}) / 3) + #{$gutter-horizontol}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontol}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontol}) / 4) + #{$gutter-horizontol}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontol}) / 4) + 2 * #{$gutter-horizontol}
    );
  }
}
