.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
    //this transformdoesnt work in __shape bcoz it already has another transform
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    //all other content can occupy remaining space
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    //50%- radius, half of height of container

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    //transform is best way to change positions of float elements, shouldnt use margin, padding
    position: relative;
  }

  &__img {
    height: 100%;
    //100% bcoz .shape has fixed height
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
  }

  //   &__text {
  //   }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  //change styles of __caption when story class is hovered, so &:hover &__caption {

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
    //>100%-> brighter, <100%--> darker
  }
}
//elements which have block element inside block element can be centered by margin 0 auto
