//partial sass file, always starts with _; every file in base folder has to start with _
//global resets, html , * selector styles

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// style reset
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
